body {
    font-family: Arial, sans-serif;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #0b1c2e;
    color: #ffffff;
}

.header {
    background-color: #333;
    width: 100%;
    text-align: center;
    padding: 20px 0px;
}
<style>

h1 {
    text-align: center;
}

.content {
    margin: 10%;
    line-height: 1.6;
    padding-bottom: 30%;
}
.container {
    padding: 20%;
    text-align: center;
}
button {
    background: transparent;
    margin-right: 2%;
    padding:    5px 24px;
    outline: 0;
    color: white;
}

.search-box {
    width: 600px;
    background: #fff;
    margin: 36px auto 0;
    border-radius: 10px;
}

.row {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

input[type="text"] {
    flex: 1;
    height: 15px;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 18px;
}

.result-box ul {
    background-color: #fff;
    border-top: 1px solid #999;
    padding: 0px 0px;
    margin-bottom: 0px;
}

li {
    outline: 1px;
    list-style: none;
    border-radius: 3px;
    padding: 15px 10px;
    cursor: pointer;
    color: black;
}

li:hover {
    background: #86b4ec;
}

.result-box {
    max-height: 200px;
    overflow-y: scroll;
}
