body {
    font-family: Arial, sans-serif;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin: 0;
    color: #ffffff;
    background: url(sky.jpg);
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;

}


.header {
    width: 100%;
    height: fit-content;
    text-align: center;
    background-color: rgb(4, 104, 2);
    overflow: hidden;
    padding: 15px;
    text-align: center;
    color: white;
    margin: 0px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); /* Soft shadow */
}

input{
    height: 10%;
    width: 40%;
    background: white;
}
.login{
    align-items: center;

}
form{
    background: rgb(20, 20, 20);
    padding: 5%;
    align-self: center;
    margin: 20%;
    border: 1px #ffffff;
}
h1 {
    
    text-shadow: #ffffff;
    text-align: center;
}

.content {
    background-color: white;
    color: rgb(4, 110, 0);
    font-style: italic;
    margin: 10%;
    line-height: 1.6;
    padding: 0% 10%;
    padding-bottom: 10%;
}
.container {

    border: 20px black;
    padding: 10% 10%;
    text-align: center;
}

.logo img {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    padding: 0px 0px;
    margin-top: 0px ;
    height: auto; 
    float: left;
    align-self: center;

}
button {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
    float: right;
    margin-right: 3%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color:white; 
    color: #000000; 
    font-size: 12px; 
    font-weight: bold;
    text-align: center;
    border: 2px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.search-box {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
    width: 600px;
    background: transparent;
    margin: 36px auto 0;
    border-radius: 10px;
    
}

.row {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}


input[type="text"] {
    flex: 1;
    padding: 5%;
    height: 15%;
    background: white;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 18px;
}

.result-box ul {
    background: transparent;
    border-top: 1px solid #999;
    margin-top: 0%;
    margin-bottom: 0px;
}

li {
    outline: 1px;
    list-style: none;
    border-radius: 3px;
    padding: 15px 10px;
    cursor: pointer;
    color: black;
}

button:hover {
    background: #86b4ec;
}
li:hover {
    background: #86b4ec;
}


.result-box {
    
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: scroll;
}

::-webkit-scrollbar {
    width: 0px; }

::-webkit-scrollbar-thumb {
    background-color: rgb(4, 110, 0);; 
}

scrollbar-color: transparent;


-ms-overflow-style: none; 
